.page-grid {
  display: grid;
  grid-template-rows: 1fr 2.5fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

#smol {
  grid-row: 2/3;
  grid-column: 1/2;
}

h1 {
  grid-row: 1/4;
  grid-column: 1/2;
}

h3 {
  grid-row: 2/3;
  grid-column: 1/4;
}

.left {
  grid-row: 3/4;
  grid-column: 1/2;
}

.middle {
  grid-row: 3/4;
  grid-column: 2/3;
}

.right {
  grid-row: 3/4;
  grid-column: 3/4;
}
