

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: black;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: rgb(171, 212, 224);
}

body {
    background-color: rgb(211, 223, 226);
}

header {
    background-color: rgb(65, 155, 182);
}

nav a:hover {
    background-color: white;
    color: black;
}

.book, .join {
    background-color: rgb(65, 155, 182);
    color: black;
}

.book:hover, .join:hover {
    background-color: white;
    color: black;
}

.msg {
    background-color: rgb(65, 155, 182);
}

footer {
    background-color: rgb(65, 155, 182);
    color: black;
}